# Node.js dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
/dist
/build

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific
.vscode/
.idea/
*.swp

# Coverage / testing
coverage/
*.lcov

# Temp files
tmp/
*.tmp

# TypeScript build
/*.tsbuildinfo
